@font-face {
  font-family: Oswald;
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
}
@font-face {
  font-family: Oswald;
  font-weight: 700;
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
}
@media screen and (min-width: 1201px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 58%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  margin: 0;
  color: #3d3c3c;
}
@media screen and (max-width: 768px) {
  .header__menu {
    width: 100%;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__logotype {
  font-size: 7rem;
  font-weight: 400;
}
.header__logotype-char {
  color: #fd5433;
}
.menu__link {
  display: inline-block;
  vertical-align: top;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 2.5em .8em;
  -webkit-transition: background-color, color 0.5s ease-out;
  transition: background-color, color 0.5s ease-out;
  font-family: Oswald;
  text-transform: uppercase;
  color: inherit;
}
.menu__link:hover {
  background-color: #fd5433;
  color: #fff;
}
.menu__link:focus {
  outline: 1px solid #fd5433;
}
.title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald";
  text-transform: uppercase;
}
.title_l {
  font-size: 3.2rem;
}
.title_m {
  font-size: 3rem;
}
.title_s {
  font-size: 2.5rem;
}
.title_xs {
  font-size: 2.2rem;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media screen and (min-width: 769px) {
  .home__title {
    font-size: 12rem;
  }
  .home {
    min-height: 80rem;
  }
}
@media screen and (max-width: 768px) {
  .home__title {
    font-size: 8rem;
  }
  .home {
    min-height: 55rem;
  }
}
.home {
  background-image: url("../images/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 2.5rem;
}
.home::before {
  content: "";
  background-color: #000;
  opacity: .4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.home__title {
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.home__conteiner {
  margin-top: 5rem;
}
.home__link {
  display: inline-block;
  font-size: 3.2rem;
  border-radius: .5rem;
  padding: .6rem 5.8rem;
  word-spacing: 1rem;
}
.button {
  font-family: "Oswald", Arial;
  background-color: #fd5433;
  font-weight: 700;
  color: #fff;
  -webkit-box-shadow: inset 0 2px 10px -3px #fff;
          box-shadow: inset 0 2px 10px -3px #fff;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-property: background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, box-shadow, transform;
  transition-property: background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  border: none;
  text-transform: uppercase;
}
.button:active {
  -webkit-box-shadow: 0 2px 0 #d22301;
          box-shadow: 0 2px 0 #d22301;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}
.button:hover {
  background-color: #d22301;
}
.button:focus {
  background-color: #d22301;
  outline: none;
}
.section__title {
  color: #fd5433;
  text-align: center;
}
.section__header {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #3d3c3c;
}
.section__content {
  border-bottom: 1px solid #3d3c3c;
}
.section {
  margin-bottom: 2.5rem;
}
.section:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1201px) {
  .services__service {
    width: 29%;
    background-size: 55%;
  }
  .services__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .services__service {
    width: 30%;
    background-size: 60% 50%;
  }
  .services__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .services__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__service {
    width: 70%;
    margin-bottom: 4rem;
    background-size: 50% 50%;
  }
  .services__service:last-child {
    margin-bottom: 0;
  }
}
.services__service {
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 17rem;
}
.services__content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services__name-title {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.services__service_pen-icon {
  background-image: url("../images/pen.svg");
}
.services__service_pc-icon {
  background-image: url("../images/desktop.svg");
}
.services__service_mic-icon {
  background-image: url("../images/mic.svg");
}
@media screen and (max-width: 768px) {
  .portolio__image-conteiner {
    width: 33.33%;
  }
}
@media screen and (min-width: 769px) {
  .portolio__image-conteiner {
    width: 16.65%;
  }
}
.portolio__content {
  max-width: 1600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portolio__image-conteiner {
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}
.portolio__image-conteiner:hover {
  opacity: .4;
}
@media screen and (min-width: 769px) {
  .about__tab {
    width: 20%;
  }
  .about__tab_active {
    position: relative;
  }
  .about__tab_active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -90px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 28px solid transparent;
    border-bottom-width: 0;
    border-top: 40px solid #fff;
  }
  .about__info-column {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .about__tab {
    width: 40%;
    margin-top: 2rem;
  }
  .about__tab:nth-child(1),
  .about__tab:nth-child(2) {
    margin-top: 0;
  }
  .about__tab:nth-child(2n) {
    margin-left: 2rem;
  }
  .about__info-column {
    width: 100%;
  }
  .about__info-column:last-child {
    margin-top: 2rem;
  }
}
.about__content {
  margin-top: 6rem;
}
.about__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__image:hover {
  opacity: .5;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}
.about__tab:last-child {
  margin-right: 0;
}
.about__info {
  margin-top: 6rem;
  background-color: #fd5433;
  color: #fff;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.about__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__info-title {
  margin-bottom: 4.5rem;
  text-transform: none;
}
.about__social-links {
  margin-top: 4rem;
}
.about__social-link:not(:last-child) {
  margin-right: 1.5rem;
}
.about__social-link {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.about__social-link:hover {
  opacity: .5;
}
.about__social-link:focus {
  opacity: .5;
  outline: 0;
}
.about__social-link_fb {
  background-image: url("../images/facebook.svg");
}
.about__social-link_g {
  background-image: url("../images/google+.svg");
}
.about__social-link_vim {
  background-image: url("../images/vimeo.svg");
}
.about__social-link_dr {
  background-image: url("../images/dribbble.svg");
}
.about__social-link_youtube {
  background-image: url("../images/youTube.svg");
}
.about__skill-bar:not(:last-child) {
  margin-bottom: 1rem;
}
.about__skill-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__skill-bar-name {
  width: 36%;
  text-transform: uppercase;
}
.about__skill-bar-progress {
  width: 50%;
  height: 10px;
  background-color: #fd5433;
  color: #fff;
  -ms-flex-item-align: center;
      align-self: center;
  border: none;
}
.about__skill-bar-progress[value]::-webkit-progress-bar {
  background-color: #fd5433;
}
.about__skill-bar-progress[value]::-webkit-progress-value {
  background-color: #fff;
}
.about__skill-bar-progress[value]::-moz-progress-bar {
  background-color: #fff;
}
.about__skill-bar-value {
  margin-left: 5%;
}
@media screen and (min-width: 769px) {
  .contact__form-row {
    width: 47%;
  }
  .contact__form-row-contact {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .contact__form-row {
    width: 100%;
  }
  .contact__form-row:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.contact__content {
  background-image: url("../images/bgcity.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__form {
  padding-top: 3rem;
  padding-bottom: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__form-input {
  font-size: 2rem;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  width: 100%;
}
.contact__form-input::-webkit-input-placeholder {
  color: #fd5433;
}
.contact__form-input::-ms-input-placeholder {
  color: #fd5433;
}
.contact__form-input:-ms-input-placeholder {
  color: #fd5433;
}
.contact__form-input::placeholder {
  color: #fd5433;
}
.contact__form-input:hover {
  outline: 2px solid #fd5433;
}
.contact__form-input:focus {
  outline: 2px solid #fd5433;
}
.contact__form-input-contact {
  min-height: 22rem;
  font-family: Arial;
}
.contact__form-row-contact {
  width: 100%;
}
.contact__form-hint {
  position: absolute;
  left: -9999px;
}
.contact__form-button {
  margin-top: 2rem;
  font-size: 2.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  width: 100%;
}
.contact__copyright {
  border-top: 1px solid #fff;
  padding: 2rem 0;
  text-align: center;
}
.contact__copyright-text {
  font-size: 1.8rem;
  color: #fff;
}
.contact__copyright-text-name {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .posts__post {
    width: 100%;
  }
  .posts__post:not(:last-child) {
    margin-bottom: 2rem;
  }
  .posts__post-column:first-child {
    margin-right: 3rem;
  }
}
@media screen and (min-width: 769px) {
  .posts__post {
    width: 47%;
    margin-top: 9rem;
  }
  .posts__post:first-child {
    margin-top: 0;
  }
  .posts__post:nth-child(2) {
    margin-top: 0;
  }
  .posts__post:nth-child(2n) {
    margin-left: 4.5rem;
  }
  .posts__post-column:first-child {
    margin-right: 5rem;
  }
}
.posts__content {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.posts__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.posts__post-column {
  width: 45%;
}
.posts__post-title {
  margin-bottom: 1rem;
}
.posts__post-link {
  -webkit-transition: color .5s;
  transition: color .5s;
  color: inherit;
}
.posts__post-link:hover {
  color: #fd5433;
}
.posts__post-link:focus {
  outline: 1px solid #fd5433;
}
.posts__post-image {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  margin-top: .8rem;
}
.posts__post-image:hover {
  opacity: .4;
}
.posts__post-image:focus {
  outline: 1px solid #fd5433;
}
.posts__post-time {
  font-size: 1.5rem;
  font-weight: 700;
  color: #686868;
  padding-bottom: 5px;
  position: relative;
  font-family: Oswald;
}
.posts__post-time::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid #fd5433;
  left: 0;
  bottom: -5px;
  width: 60%;
}
.posts__post-text {
  margin-top: 3.5rem;
  margin-bottom: 0;
}
