@font-face{
  font-family: Oswald;
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.ttf");
}

@font-face{
  font-family: Oswald;
  font-weight: 700;
  src: url("../fonts/Oswald-Bold.ttf");
}

a{
  text-decoration: none;
  color: inherit;
  font-size: 100%;
  line-height: 1.4;
  text-align: left;
}

h1, h2, h3, h4{
  font-family: Oswald, Arial;
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 19px;
}

h4{
  font-size: 17px;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial;
  color: inherit;
  line-height: 1.2;
}

ul, ol{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.page{
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #fff;
  margin: 0;
}
