@font-face{
  font-family: Oswald;
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.ttf");
}

@font-face{
  font-family: Oswald;
  font-weight: 700;
  src: url("../fonts/Oswald-Bold.ttf");
}

body{
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: 70px;
  margin-top: 5px;
	margin-bottom: 5px;
}

h2{
  font-size: 32px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 25px;
}

h5{
	font-size: 22px;
}

p{
	margin-top: 5px;
	margin-bottom: 5px;
  font-size: 16px;
  font-family: Arial;
}

.page{
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: #fff;
  position: relative;
  min-width: 768px;
}

.main-container{
  margin-left: auto;
  margin-right: auto;
  min-width: 768px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.header__logotype{
  float: left;
}

.logotype{
  font-weight: 400;
  color: #474444;
}

.logotype__char{
  color: #fd5433;
}

.header__menu{
  float: right;
}

.menu__list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu__list-item{
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: 700;
  color: #565656;
}

.menu__link:hover{
  background-color: #fd5433;
  color: #fff;
}

.menu__link:focus{
  background-color: #fd5433;
  color: #fff;
  outline: 0;
}

.menu__link{
  padding: 46px 15px;
  display: inline-block;
  vertical-align: top;
}

.header__container:after{
  content: "";
  display: block;
  clear: both;
}

.home-container{
  background-image: url("../images/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #999;
}

.home__mask{
  background-color: rgba(0, 0, 0, .4);
}

.home__content{
  padding: 254px 0;
  text-align: center;
}

.home__text{
  color: #fff;
  font-size: 120px;
}

.home__link{
  box-sizing: border-box;
  margin: 56px auto 0;
  display: block;
  font-family: Oswald, Arial;
  font-size: 32px;
  background-color: #fd5433;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  padding: 6px 58px;
  width: 282px;
  box-shadow: inset 0 2px 10px -3px #fff;
}

.home__link:hover{
  background-color: #d22301;
}

.home__link:focus{
  background-color: #d22301;
  outline: 0;
}

.section-title{
  color: #fd5433;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 26px;
}

.services__header{
  border-bottom: 1px solid #828282;
}

.services__service{
  display: inline-block;
  width: 29%;
  margin-right: 6.1%;
}

.services__content{
  padding: 50px 0;
}

.services__service:last-child{
  margin: 0;
}

.service__title{
  text-align: center;
  color: #3d3c3c;
  position: relative;
  padding-top: 200px;
}

.service__title::before{
  background-repeat: no-repeat;
  content: "";
  background-size: cover;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.pen-icon::before{
  background-image: url("../images/Pen_icon.png");
}

.pc-icon::before{
  background-image: url("../images/PC_icon.png");
}

.mic-icon::before{
  background-image: url("../images/Mic_icon.png");
}

.service__content{
  text-align: center;
}

.service__content-text{
  color: #121212;
}

.service__image{
  display: block;
  margin: auto;
  width: 50%;
}

.portfolio__header{
  border-top: 1px solid #828282;
}

.portolio__content{
  min-width: 768px;
  max-width: 1600px;
  margin: auto;
}

.portolio__image-conteiner{
  float: left;
  width: 16.65%;
}

.portolio__content:after{
  content: "";
  display: block;
  clear: both;
}

.portolio__image{
  max-width: 100%;
  display: block;
}

.portolio__image-conteiner{
  position: relative;
  z-index: 0;
}

.portolio__image-conteiner:hover{
  z-index: 1;
  outline: 2px solid #fd5433;
}

.portolio__image-conteiner:focus{
  z-index: 1;
  outline: 2px solid #fd5433;
}

.about__header{
  border-bottom: 1px solid #828282;
}

.about__tabs{
  margin-top: 60px;
  text-align: center;
}

.about__tab{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 48px;
}

.about__image:hover{
  opacity: .5;
  transition-duration: .4s;
}

.about__tab:last-child{
  margin-right: 0;
}

.about__tab_active{
  position: relative;
}

.about__tab_active::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -90px;
  transform: translateX(-50%);
  border: 28px solid transparent;
  border-bottom-width: 0;
  border-top: 40px solid #fff;
}

.about__image{
  max-width: 100%;
}

.about__layout{
  margin-top: 60px;
  background-color: #fd5433;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
}

.description__column{
  display: inline-block;
  vertical-align: top;
}

.description__info{
  width: 45%;
}

.description__skills{
  width: 45%;
  margin-left: 9%;
}

.about__description:after{
  content: "";
  display: block;
  clear: both;
}

.description__title{
  margin-bottom: 45px;
}

.description__info-content{
  color: #fff;
  font-size: 16px;
}

.description__skills-content{
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.description__link:hover{
  opacity: .5;
}

.description__link:focus{
  opacity: .5;
  outline: 0;
}


.bars__bar:not(:last-child){
  margin-bottom: 10px;
}

.bar{
  font-family: Arial;
}

.bar__name{
  display: inline-block;
  vertical-align: top;
  width: 36%;
}

.bar__progress{
  width: 45%;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fd5433;
  color: #fff;
}

.bar__progress[value]::-webkit-progress-bar{
	background-color: #fd5433;
}

.bar__progress[value]::-webkit-progress-value{
	background-color: #fff;
}

.bar__progress[value]::-moz-progress-bar{
	background-color: #fff;
}

.bar__value{
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.description__links{
  margin-top: 40px;
}

.description__link:not(:last-child){
  margin-right: 15px;
}

.posts__header{
  border-bottom: 1px solid #828282;
}

.posts__content{
  padding-top: 100px;
  padding-bottom: 100px;
}

.posts__column{
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.posts__column:not(:first-child){
  margin-left: 20px;
}

.post__column{
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.posts__post:not(:last-child){
  margin-bottom: 90px;
}

.post__content{
  margin-left: 30px;
}

.posts__image{
  max-width: 100%;
  display: block;
}

.post__title{
  color: #3d3c3c;
  margin-top: 0;
  margin-bottom: 10px;
}

.post__link:hover{
  color: #fd5433;
}

.post__link:focus{
  color: #fd5433;
  outline: 0;
}

.posts__image-link:hover{
  outline: 2px solid #fd5433;
}

.posts__image-link:focus{
  outline: 2px solid #fd5433;
}

.post__time{
  font-size: 15px;
  font-weight: 700;
  color: #686868;
  padding-bottom: 5px;
  position: relative;
}

.post__time::after{
  content: "";
  position: absolute;
  border-bottom: 5px solid #fd5433;
  left: 0;
  bottom: -5px;
  width: 60%;
}

.post__text{
  color: #3D3C3C;
  margin-top: 30px;
  margin-bottom: 0;
}

.contact__header{
  border-top: 1px solid #828282;
}

.contact__content{
  background-color: #999;
  background-image: url("../images/bgcity.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__form{
  padding-top: 30px;
  padding-bottom: 85px;
}

.contact-form__label{
  display: inline-block;
  vertical-align: top;
  width: 47.3%;
}

.contact-form__label:nth-child(2n){
  margin-left: 3%;
}

.contact-form__label-contact{
  width: 100%;
  margin-top: 20px;
}

.contact-form__input::-moz-placeholder{
	color: #fd5433;
}

.contact-form__input::-webkit-input-placeholder{
	color: #fd5433;
}

.contact-form__input:-ms-input-placeholder{
	color: #fd5433;
}

.contact-form__input::-ms-input-placeholder{
	color: #fd5433;
}

.contact-form__input::placeholder{
	color: #fd5433;
}

.contact-form__input{
  padding: 20px 0 20px 20px;
  width: 96%;
  font-size: 20px;
  font-family: Arial;
  border: 0;
}

.contact-form__input:hover{
  outline: 2px solid #fd5433;
}

.contact-form__input:focus{
  outline: 2px solid #fd5433;
}

.contact-form__input-contact{
  padding-bottom: 200px;
}

.contact-form__button{
  margin-top: 22px;
  background-color: #fd5433;
  color: #fff;
  font-weight: 700;
  font-family: Oswald;
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  width: 98%;
  cursor: pointer;
  box-shadow: inset 0 2px 10px -3px #fff;
}

.contact-form__button:hover{
  background-color: #d22301;
}

.contact-form__button:focus{
  background-color: #d22301;
  outline: 0;
}

.contact__copyright{
  text-align: center;
  font-size: 18px;
  border-top: 1px solid #fff;
  font-family: Arial;
  color: #fff;
  padding: 20px 0;
}

.contact__text-name{
  font-weight: 700;
}
