@font-face{
  font-family: Oswald;
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.ttf");
}

@font-face{
  font-family: Oswald;
  font-weight: 700;
  src: url("../fonts/Oswald-Bold.ttf");
}

a{
  text-decoration: none;
  color: inherit;
  font-size: 100%;
  line-height: 1.4;
  text-align: left;
}

h1, h2, h3, h4{
  font-family: Oswald, Arial;
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 19px;
}

h4{
  font-size: 17px;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial;
  color: inherit;
  line-height: 1.2;
}

ul, ol{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.page{
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #fff;
  margin: 0;
}

.main-container{
  margin-left: auto;
  margin-right: auto;
  min-width: 768px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.header__container{
  display: flex;
  justify-content: space-between;
}

.logotype{
  font-weight: 400;
  color: #474444;
  font-size: 70px;
}

.logotype__char{
  color: #fd5433;
}

.text{
  font-size: 16px;
  font-family: Arial;
}

.menu__list-item{
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: 700;
  color: #565656;
}

.menu__link:hover{
  background-color: #fd5433;
  color: #fff;
}

.menu__link:focus{
  background-color: #fd5433;
  color: #fff;
  outline: 0;
}

.menu__link{
  padding: 46px 15px;
  display: inline-block;
  vertical-align: top;
}

.home{
  background-image: url("../images/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #999;
  min-width: 798px;
  position: relative;
}

.home::before{
  content: "";
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  position: absolute;
}

.home__content{
  padding: 254px 0;
  text-align: center;
  position: relative;
}

.home__text{
  color: #fff;
  font-size: 120px;
}

.button{
  font-family: Oswald, Arial;
  background-color: #fd5433;
  font-weight: 700;
  color: #fff;
  box-shadow: inset 0 2px 10px -3px #fff;
  cursor: pointer;
}

.home__link{
  box-sizing: border-box;
  margin: 56px auto 0;
  display: block;
  font-size: 32px;
  border-radius: 5px;
  padding: 6px 58px;
  width: 282px;
  box-shadow: inset 0 2px 10px -3px #fff;
}

.home__link:hover{
  background-color: #d22301;
}

.home__link:focus{
  background-color: #d22301;
  outline: 0;
}

.section-title{
  color: #fd5433;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 26px;
  font-size: 32px;
}

.section-header{
  min-width: 768px;
}

.section-header_border-bottom{
  border-bottom: 1px solid #828282;
}

.section-header_border-top{
  border-top: 1px solid #828282;
}

.services__service{
  width: 29%;
  position: relative;
  padding-top: 170px;
  margin-bottom: 30px;
}

.services__content{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__service:last-child{
  margin: 0;
}

.services__service-title{
  color: #3d3c3c;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.services__service::before{
  background-repeat: no-repeat;
  content: "";
  background-size: cover;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.services__service_pen-icon::before{
  background-image: url("../images/Pen_icon.png");
}

.services__service_pc-icon::before{
  background-image: url("../images/PC_icon.png");
}

.services__service_mic-icon::before{
  background-image: url("../images/Mic_icon.png");
}

.service__content{
  text-align: center;
}

.service__content-text{
  color: #121212;
}

.service__image{
  display: block;
  margin: auto;
  width: 50%;
}

.portolio__content{
  min-width: 768px;
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.portolio__image-conteiner{
  width: 16.65%;
}

.portolio__image{
  max-width: 100%;
  display: block;
}

.portolio__image-conteiner:hover{
  z-index: 1;
  outline: 2px solid #fd5433;
}

.portolio__image-conteiner:focus{
  z-index: 1;
  outline: 2px solid #fd5433;
}

.about__tabs{
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.about__tab{
  width: 20%;
  margin-right: 48px;
}

.about__image:hover{
  opacity: .5;
  transition-duration: .4s;
}

.about__tab:last-child{
  margin-right: 0;
}

.about__tab_active{
  position: relative;
}

.about__tab_active::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -90px;
  transform: translateX(-50%);
  border: 28px solid transparent;
  border-bottom-width: 0;
  border-top: 40px solid #fff;
}

.about__image{
  max-width: 100%;
}

.about__info{
  margin-top: 60px;
  background-color: #fd5433;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
}

.about__conteiner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__column{
  width: 45%;
}

.about-title{
  font-size: 22px;
  text-align: left;
}

.about__name-title,.about__group-title{
  margin-bottom: 45px;
}

.about__social-links{
  margin-top: 40px;
}

.about__social-link:not(:last-child){
  margin-right: 15px;
}

.about__social-link{
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.about__social-link_fb{
  background-image: url("../images/facebook.svg");
}

.about__social-link_g{
  background-image: url("../images/google+.svg");
}

.about__social-link_vim{
  background-image: url("../images/vimeo.svg");
}

.about__social-link_dr{
  background-image: url("../images/dribbble.svg");
}

.about__social-link_youtube{
  background-image: url("../images/youTube.svg");
}

.about__social-link:hover{
  opacity: .5;
}

.about__social-link:focus{
  opacity: .5;
  outline: 0;
}

.about__skill-bar:not(:last-child){
  margin-bottom: 10px;
}

.about__skill-bar{
  display: flex;
}

.about__skill-bar-name{
  width: 36%;
}

.about__skill-bar-progress{
  width: 50%;
  height: 10px;
  background-color: #fd5433;
  color: #fff;
  align-self: center;
}

.about__skill-bar-progress[value]::-webkit-progress-bar{
  background-color: #fd5433;
}

.about__skill-bar-progress[value]::-webkit-progress-value{
  background-color: #fff;
}

.about__skill-bar-progress[value]::-moz-progress-bar{
  background-color: #fff;
}

.about__skill-bar-value{
  margin-left: 10px;
}

.posts__content{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

.posts__post{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.posts__post:nth-child(2n){
  margin-bottom: 90px;
}

.posts__post:last-child{
  margin-bottom: 0;
}

.posts__post-column{
  width: 43%;
}

.posts__post-image{
  max-width: 100%;
  display: block;
}

.posts__post-title{
  color: #3d3c3c;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: left;
}

.posts__post-link:hover{
  color: #fd5433;
}

.posts__post-link:focus{
  color: #fd5433;
  outline: 0;
}

.posts__post-image-link:hover{
  outline: 2px solid #fd5433;
}

.posts__post-image-link:focus{
  outline: 2px solid #fd5433;
}

.posts__post-time{
  font-size: 15px;
  font-weight: 700;
  color: #686868;
  padding-bottom: 5px;
  position: relative;
}

.posts__post-time::after{
  content: "";
  position: absolute;
  border-bottom: 5px solid #fd5433;
  left: 0;
  bottom: -5px;
  width: 60%;
}

.posts__post-text{
  color: #3D3C3C;
  margin-top: 30px;
  margin-bottom: 0;
}

.contact__content{
  background-color: #999;
  background-image: url("../images/bgcity.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__form{
  padding-top: 30px;
  padding-bottom: 85px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact__form-label{
  width: 47%;
}

.contact__form-label:nth-child(2n){
  margin-left: 3%;
}

.contact__form-label-contact{
  width: 100%;
  margin-top: 20px;
}

.contact__form-input::-moz-placeholder{
  color: #fd5433;
}

.contact__form-input::-webkit-input-placeholder{
  color: #fd5433;
}

.contact__form-input:-ms-input-placeholder{
  color: #fd5433;
}

.contact__form-input::-ms-input-placeholder{
  color: #fd5433;
}

.contact__form-input::placeholder{
  color: #fd5433;
}

.contact__form-input{
  padding: 20px 0 20px 20px;
  width: 100%;
  font-size: 20px;
  font-family: Arial;
  border: 0;
  box-sizing: border-box;
}

.contact__form-input:hover{
  outline: 2px solid #fd5433;
}

.contact__form-input:focus{
  outline: 2px solid #fd5433;
}

.contact__form-input-contact{
  padding-bottom: 200px;
}

.contact__form-button{
  margin-top: 22px;
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  width: 100%;
}

.contact__form-button:hover{
  background-color: #d22301;
}

.contact__form-button:focus{
  background-color: #d22301;
  outline: 0;
}

.contact__copyright{
  text-align: center;
  font-size: 18px;
  border-top: 1px solid #fff;
  font-family: Arial;
  color: #fff;
  padding: 20px 0;
}

.contact__copyright-text-name{
  font-weight: 700;
}
