@background-color: #fff;
@hover-link-color: #fff;
@button-text-color: #fff;
@about-text: #fff;
@home-text-color: #fff;
@contact-copyright-color: #fff;
@text-color: #3d3c3c;
@time-color: #686868;
@hover-background-color: #d22301;
@title-color: #d22301;
@main-color: #fd5433;
@section-border-color: #3d3c3c;
@mask-color: #000;

@font-face{
  font-family: Oswald;
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
}

@font-face{
  font-family: Oswald;
  font-weight: 700;
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
}

@media screen and (min-width: 1201px){

  html{
    font-size: 62.5%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px){

  html{
    font-size: 58%;
  }
}

@media screen and (max-width: 768px){

  html{
    font-size: 50%;
  }
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block;
}

p{
  margin-top: 0;
  margin-bottom: 1rem;
}

p:last-child{
  margin-bottom: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: @background-color;
  margin: 0;
  color: @text-color;
}

@import "blocks/header.less";
@import "blocks/menu.less";
@import "blocks/title.less";
@import "blocks/main-conteiner.less";
@import "blocks/home.less";
@import "blocks/button.less";
@import "blocks/section.less";
@import "blocks/servises.less";
@import "blocks/portfolio.less";
@import "blocks/about.less";
@import "blocks/bar.less";
@import "blocks/contact.less";
@import "blocks/posts.less";
@import "blocks/post.less";
