@media screen and (min-width: 769px){

  .about__tabs{
    justify-content: space-around;
  }

  .about__tab{
    width: 20%;
  }

  .about__tab_active{
    position: relative;

    &::after{
      content: "";
      position: absolute;
      left: 50%;
      bottom: -90px;
      transform: translateX(-50%);
      border: 28px solid transparent;
      border-bottom-width: 0;
      border-top: 40px solid @white-color;
    }
  }

  .about__info-inner{
    width: 45%;
  }

  .about__container{
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about__social-link{
    width: 26px;
    height: 26px;
  }

  .about__social-link_fb{
    background-image: url("../images/facebook.svg");
  }

  .about__social-link_g{
    background-image: url("../images/google+.svg");
  }

  .about__social-link_vim{
    background-image: url("../images/vimeo.svg");
  }

  .about__social-link_dr{
    background-image: url("../images/dribbble.svg");
  }

  .about__social-link_youtube{
    background-image: url("../images/youTube.svg");
  }

  #grace-tyler:checked ~ .about__container:nth-of-type(1), #john-smith:checked ~ .about__container:nth-of-type(2),#candace-sullivan:checked ~ .about__container:nth-of-type(3),#merryl-shelton:checked ~ .about__container:nth-of-type(4){
    display: flex;
  }

  .about__info-title{
    margin-bottom: 4.5rem;
  }

  .about__social-links{
    margin-top: 4rem;
  }
}

@media screen and (max-width: 768px){

  .about__info-inner{
    width: 100%;

    &:last-child{
      margin-top: 4rem;
    }
  }

  #grace-tyler:checked ~ .about__container:nth-of-type(1), #john-smith:checked ~ .about__container:nth-of-type(2),#candace-sullivan:checked ~ .about__container:nth-of-type(3),#merryl-shelton:checked ~ .about__container:nth-of-type(4){
    display: block;
  }

  .about__info-title{
    margin-bottom: 3rem;
  }

  .about__social-links{
    margin-top: 2rem;
  }

  .about__social-link{
    width: 20px;
    height: 20px;
  }

  .about__social-link_fb{
    background-image: url("../images/facebook_mini.svg");
  }

  .about__social-link_g{
    background-image: url("../images/google+_mini.svg");
  }

  .about__social-link_vim{
    background-image: url("../images/vimeo_mini.svg");
  }

  .about__social-link_dr{
    background-image: url("../images/dribbble_mini.svg");
  }

  .about__social-link_youtube{
    background-image: url("../images/youTube_mini.svg");
  }
}

@media all and (orientation: portrait) and (max-width: 768px){

  .about__tabs{
    justify-content: center;
  }

  .about__tab{
    width: 30%;
    margin-top: 10%;

    &:nth-child(1), &:nth-child(2){
      margin-top: 0;
    }

    &:nth-child(2n){
      margin-left: 14%;
    }
  }

  .about__tab_active{
    border: .5rem solid @main-color;
    border-radius: 50%;
  }

}

@media all and (orientation: landscape) and (max-width: 768px){

  .about__tabs{
    justify-content: space-around;
  }

  .about__tab{
    width: 20%;
  }

  .about__tab_active{
    position: relative;

    &::before{
      content: "";
      position: absolute;
      left: 50%;
      bottom: -70px;
      transform: translateX(-50%);
      border: 20px solid transparent;
      border-bottom-width: 0;
      border-top: 30px solid @white-color;
    }
  }
}

@keyframes opacity{

  0%{
    opacity: 0;
  }

  100%{
    opacity: 100%;
  }

}

.about__container{
  display: none;
  animation: opacity 1s;
}

.about__radio{
  position: absolute;
  left: -9999px;
}

.about__content{
  margin-top: 6rem;
}

.about__tabs{
  display: flex;
  flex-wrap: wrap;
}

.about__image:hover{
  opacity: .5;
  transition-duration: .4s;
}

.about__tab:last-child{
  margin-right: 0;
}

.about__info{
  margin-top: 6rem;
  background-color: @main-color;
  color: @white-color;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.about__info-title{
  text-transform: none;
}

.about__social-link:not(:last-child){
  margin-right: 1.5rem;
}

.about__social-link{
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;

  &:hover{
    opacity: .5;
  }

  &:focus{
    opacity: .5;
    outline: 0;
  }
}
