@media screen and (min-width: 769px){

  .contact__form-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact__form-column{
    width: 47%;
  }

  .contact__form-label-contact{
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px){

  .contact__form-column:not(:last-of-type){
      margin-bottom: 2rem;
  }
}

.contact__content{
  background-image: url("../images/bgcity.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: @gray-color;
}

.contact__form{
  padding-top: 3rem;
  padding-bottom: 8.5rem;
}

.contact__form-input{
  font-size: 2rem;
  border: none;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  -webkit-appearance: none;

  &::-moz-placeholder{
    color: @main-color;
  }

  &::-webkit-input-placeholder{
    color: @main-color;
  }

  &::-ms-input-placeholder{
    color: @main-color;
  }

  &::placeholder{
    color: @main-color;
  }

  &:hover{
    outline: 2px solid @main-color;
  }

  &:focus{
    outline: 2px solid @main-color;
  }
}

.contact__form-row:not(:last-of-type){
  margin-bottom: 2rem;
}

.contact__form-input-contact{
  min-height: 22rem;
  font-family: Arial;
}

.contact__form-hint{
  position: absolute;
  left: -9999px;
}

.contact__form-button{
  font-size: 2.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  width: 100%;
}

.contact__copyright{
  border-top: 1px solid @white-color;
  padding: 2rem 0;
  text-align: center;
}

.contact__copyright-text{
  font-size: 1.8rem;
  color: @white-color;
}

.contact__copyright-text-name{
  font-weight: 700;
}
