@media screen and (max-width: 768px){

  .header__menu{
    width: 100%;
    position: relative;
    z-index: 999;
  }

  .header__logotype{
    font-size: 5rem;
  }

  .header__menu{
    display: none;
    animation: opacity 1s;
  }

  .header__menu_active{
    display: block;
  }

  .header__switch_active{
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 769px){

  .header__logotype{
    font-size: 7rem;
  }

  .header__switch{
    display: none;
  }
}

.header__switch{
  background-image: url("../images/hamburger_icon.svg");
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: .6s;
}

.header__checkbox{
  position: absolute;
  left: -9999px;
}

.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logotype{
  font-weight: 400;
}

.header__logotype-char{
  color: @main-color;
}
