.home{
  background-image: url("../images/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  min-height: 800px;
  flex-flow: column;
  justify-content: center;
  text-align: center;

  &::before{
    content: "";
    background-color: @mask-color;
    opacity: .4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.home__text{
  color: #fff;
  font-size: 120px;
  text-align: center;
}

.home__conteiner{
  margin-top: 50px;
}

.home__link{
  display: inline-block;
  font-size: 32px;
  border-radius: 5px;
  padding: 6px 58px;
  word-spacing: 10px;
}
