.menu__link{
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: 700;
  padding: 46px 15px;
  transition: .5s ease-out;
  font-family: Oswald;
  text-transform: uppercase;

  &:hover{
    background-color: @main-color;
    color: @hover-link-color;
  }

  &:focus{
    outline: 1px solid @main-color;
  }
}
