.menu__link{
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: 700;
  padding: 46px 15px;
  transition: .5s ease-out;
  font-family: Oswald;

  &:hover{
    background-color: @color-orange;
    color: @color-white;
  }

  &:focus{
    outline: 1px solid @color-orange;
  }
}
