@media screen and (max-width: 768px){

  .portolio__image-container{
    width: 33.33%;
  }
}

@media screen and (min-width: 769px){

  .portolio__image-container{
    width: 16.65%;;
  }
}

.portolio__content{
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.portolio__image-container{
  transition: opacity .4s;

  &:hover{
    opacity: .4;
  }
}
