.posts__content{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

.posts__post{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.posts__post:first-child{
  margin-top: 0;
}

.posts__post:nth-child(2){
  margin-top: 0;
}

.posts__post{
  margin-top: 90px;
}

.posts__post-column{
  width: 43%;
}

.posts__post-title{
  margin-bottom: 10px;
}

.posts__post-link{
  transition: color .5s;
  color: inherit;
}

.posts__post-link:hover{
  color: @main-color;
}

.posts__post-link:focus{
  outline: 1px solid @main-color;
}

.posts__post-image-link{
  transition: opacity .5s;
  margin-top: 8px;

  &:hover{
    opacity: .4;
  }

  &:focus{
    outline: 1px solid @main-color;
  }
}

.posts__post-time{
  font-size: 15px;
  font-weight: 700;
  color: @time-color;
  padding-bottom: 5px;
  position: relative;
  font-family: Oswald;

  &::after{
    content: "";
    position: absolute;
    border-bottom: 5px solid @main-color;
    left: 0;
    bottom: -5px;
    width: 60%;
  }
}

.posts__post-text{
  margin-top: 35px;
  margin-bottom: 0;
}
