.section__title{
  color: @main-color;
  text-align: center;
}

.section__header{
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid @section-border-color;
}

.section__content{
  border-bottom: 1px solid @section-border-color;
}

.section{
  min-width: 798px;
  margin-bottom: 25px;
  
  &:last-child{
    margin-bottom: 0;
  }
}
