.section__title{
  color: @color-orange;
  text-align: center;
}

.section__header{
  padding-top: 25px;
  padding-bottom: 25px;
}

.section__header_border-bottom{
  border-bottom: 1px solid @color-black;
}

.section__header_border-top{
  border-top: 1px solid @color-black;
}
