@media screen and (min-width: 1201px){

  .services__service{
    width: 29%;
    padding-top: 17rem;
  }

  .services__content{
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px){

  .services__service{
    width: 30%;
    padding-top: 19rem;
  }

  .services__content{
    justify-content: space-between;
  }
}


@media screen and (max-width: 768px){

  .services__content{
    justify-content: center;
  }

  .services__service{
    width: 70%;
    margin-bottom: 4rem;
    padding-top: 22rem;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.services__service{
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: center;
}

.services__content{
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.services__name-title{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.services__service_pen-icon{
  background-image: url("../images/Pen_icon.png");
}

.services__service_pc-icon{
  background-image: url("../images/PC_icon.png");
}

.services__service_mic-icon{
  background-image: url("../images/Mic_icon.png");
}
