.title{
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald";
  text-transform: uppercase;
}

.title_l{
  font-size: 3.2rem;
}

.title_m{
  font-size: 3rem;
}

.title_s{
  font-size: 2.5rem;
}

.title_xs{
  font-size: 2.2rem;
}
