.title{
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald";
  text-transform: uppercase;
}

.title_l{
  font-size: 32px;
}

.title_m{
  font-size: 30px;
}

.title_s{
  font-size: 25px;
}

.title_xs{
  font-size: 22px;
}
